.product-detail {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product-image {
  grid-column: 1/2;
  display: flex;
  justify-content: center;
}

.product-image img {
  width: 500px;
  height: auto;
  padding: 50px;
}

.product-description-area {
  grid-column: 2/3;
  padding: 50px;
}

.product-actions {
  display: flex;
}

.product-title {
  font-size: 40px;
  font-weight: bold;
}

.brand_name {
  font-size: 20px;
}

.price-area,
.product-actions {
  margin-top: 15px;
}

.price {
  font-size: 40px;
}

.favorite-counter,
.comments-counter {
  margin-left: 30px;
}

.favorite-count,
.comment-count {
  text-align: center;
}

h3 {
  margin: 30px auto;
  font-size: 30px;
  font-weight: bold;
}

.product-info {
  margin-top: 20px;
}

.category-info,
.product-condition {
  display: flex;
  align-items: flex-start;
  /* テキストの上部で揃える */
  margin-bottom: 12px;
}

.info-label {
  width: 120px;
  /* ラベル幅を固定 */
  font-weight: bold;
}

.category-list,
.comment-text {
  list-style: none;
  padding: 0;
  margin: 0;
}

.category-list li {
  display: inline;
  margin-right: 8px;
  border-radius: 20px;
  padding: 6px 16px;
  font-size: 13px;
  color: black;
  background-color: #ccc;
}

.comment-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.profile-img__placeholder {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ccc;
  color: black;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.comment-user {
  width: 50%;
  margin-left: 30px;
  font-size: 20px;
}

.condition {
  padding: 0;
  margin: 0;
}

.comment-body {
  display: flex;
  align-items: center;
  background-color: #ccc;
  height: 56px;
  margin-bottom: 30px;
}

.comments-form {
  display: flex;
  flex-direction: column;
}

.comments-form__label {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: bold;
}

.comments-form__textarea {
  width: 100%;
  min-height: 246px;
  margin-bottom: 30px;
  border-radius: 5px;
  border: 2px solid #ccc;
  box-sizing: border-box;
  resize: both;
}

.comments-form__button-submit {
  width: 100%;
  height: 56px;
  padding: 6px;
  background-color: #f66;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  font-size: 25px;
  cursor: pointer;
}

.purchase-procedure {
  text-decoration: none;
  color: inherit;
}

.purchase-procedure,
.sold-out {
  text-align: center;
}

.purchase-procedure {
  width: 100%;
  height: 56px;
  padding: 6px;
  background-color: #f66;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  font-size: 25px;
  cursor: pointer;
}

.sold-out {
  width: 100%;
  height: 56px;
  padding: 15px;
  background-color: #fff;
  color: #f66;
  font-weight: bold;
  border: 1px solid #f66;
  border-radius: 4px;
  font-size: 25px;
  cursor: pointer;
}


